# Import Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Load DataSet

In [4]:
df = pd.read_csv('Data/Natural_Gas_Market_Hubs.csv')
df.head()

,X,Y,FID,Region,State,Hub_name,Adminstr,Operator,Typeoper,Yr_activat,...,Notes,City,County_1,County_2,Authority,Rates,Platform,Yearofdata,Latitude,Longitude
0,-107.956990,36.686394,1,Southwest,NM,Blanco Hub,Transwestern Gas Pipeline Co,Transwestern Gas Pipeline Co,Production Hub,1993,...,Growth since 03: 77% in avg daily & 22% interc...,,San Juan,,NGA Section 7,Max - Discount,Intercontinental Exch (San Juan),2009,36.6864,-107.9570
1,-100.458991,35.833694,2,Southwest,TX,Buffalo Wallow Center,KM Interstate Gas Transmission co,KM Interstate Gas Transmission co,Market Center,1994,...,Routes flows southward (through WAHA to East T...,,Hemphill,,FERC Section 311,Max - Discount,No,1999,35.8337,-100.4590
2,-94.278893,32.159594,3,Southwest,TX,Carthage Hub,DCP Midstream Partners LP,DCP Midstream Inc,Production Hub,1990,...,Site primarily delivers processed gas from Eas...,,Panola,,FERC Section 311 & State,Max - Discount,Intercontinental Exchange,2008,32.1596,-94.2789
3,-88.263894,41.500192,4,Midwest,IL,Chicago Hub,Enerchange Inc,Northern Illinois Gas Co (Nicor),Market Center,1993,...,"Nicor Enerchange Hub Administration, commonly ...",NaN,Various,,FERC Section 311,Max - Discount,"NGX, Intercontinental Exchange",2008,41.5002,-88.2639
4,-77.789997,41.397892,5,Northeast,PA,Ellisburg-Leidy Center,National Fuel Gas Supply Co,National Fuel Gas Supply Co,Market Center,1993,...,No longer a formal market center although hub ...,,Potter,Clinton,FERC Section 311,Max - Discount,Gas Daily,2008,41.3979,-77.7900

# Data Analysis

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           58 non-null     float64
 1   Y           58 non-null     float64
 2   FID         58 non-null     int64
 3   Region      58 non-null     object
 4   State       58 non-null     object
 5   Hub_name    58 non-null     object
 6   Adminstr    58 non-null     object
 7   Operator    56 non-null     object
 8   Typeoper    58 non-null     object
 9   Yr_activat  58 non-null     int64
 10  Maxthru     58 non-null     int64
 11  Avgdaily    58 non-null     int64
 12  Numcust     58 non-null     int64
 13  Status      58 non-null     object
 14  Notes       58 non-null     object
 15  City        53 non-null     object
 16  County_1    50 non-null     object
 17  County_2    58 non-null     object
 18  Authority   58 non-null     object
 19  Rates       57 non-null     object
 20  Platform    58 non-null     object
 21  Yearofdata  58 non-null     int64
 22  Latitude    58 non-null     float64
 23  Longitude   58 non-null     float64
dtypes: float64(4), int64(6), object(14)
memory usage: 11.0+ KB

In [5]:
df.describe()

,X,Y,FID,Yr_activat,Maxthru,Avgdaily,Numcust,Yearofdata,Latitude,Longitude
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,-97.508868,35.796658,29.500000,1825.103448,961.586207,545.637931,49.155172,2005.431034,35.796664,-97.508876
std,12.623782,5.605500,16.886879,565.500173,883.622886,714.481107,106.990539,4.333112,5.605500,12.623786
min,-122.219985,27.548795,1.000000,0.000000,0.000000,0.000000,0.000000,1996.000000,27.548800,-122.220000
25%,-107.166740,30.576070,15.250000,1994.000000,337.500000,0.000000,0.000000,2003.000000,30.576075,-107.166750
50%,-94.818543,34.706595,29.500000,1995.000000,615.000000,300.000000,8.500000,2008.000000,34.706600,-94.818550
75%,-90.734894,41.091367,43.750000,1998.000000,1675.000000,850.000000,50.000000,2008.000000,41.091375,-90.734900
max,-74.178498,49.000494,58.000000,2012.000000,3100.000000,2500.000000,660.000000,2009.000000,49.000500,-74.178500

In [15]:
df.value_counts('Region')

Region
Southwest    26
Central       9
Northeast     7
Western       7
Midwest       4
Southeast     4
Canada        1
dtype: int64

In [17]:
df.value_counts('State')

State
TX    15
LA    10
PA     6
CA     4
CO     4
WY     3
MS     3
IL     2
KS     2
OR     2
OH     1
AL     1
NY     1
NM     1
BC     1
ID     1
MI     1
dtype: int64

In [20]:
df.value_counts('Rates')

Rates
Max - Discount    27
Market Based      11
                  10
FERC Tariff        3
FERC/State Tif     1
Market & Tarif     1
Market Based R     1
Market-based       1
NEB Tariff         1
State Tariff       1
dtype: int64

In [22]:
df.isnull().sum()

X             0
Y             0
FID           0
Region        0
State         0
Hub_name      0
Adminstr      0
Operator      2
Typeoper      0
Yr_activat    0
Maxthru       0
Avgdaily      0
Numcust       0
Status        0
Notes         0
City          5
County_1      8
County_2      0
Authority     0
Rates         1
Platform      0
Yearofdata    0
Latitude      0
Longitude     0
dtype: int64

In [24]:
df.duplicated().sum()

0